* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgrey;
}

#nav {
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#nav a {
  text-decoration: none;
  color: lightslategrey;
  font-size: 24px;
  margin-left: 250px;
  position: relative;
  top: 14px;
}

#nav a:hover {
  color: blueviolet;
}

#form {
  height: 380px;
  width: 380px;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
}

div #form {
  margin-top: 75px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#form h1 {
  font-size: 23px;
  text-align: center;
  margin-top: 24px;
}

#form input {
  width: 250px;
  padding: 8px;
  outline: none;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 14px;
  margin-left: 38px;
}

#form select {
  width: 268px;
  padding: 8px;
  outline: none;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 14px;
  margin-left: 38px;
}

div #form #btn {
  background-color: lightslategray;
  border-radius: 20px;
  margin-left: 85px;
  margin-right: 85px;
  width: 200px;
  margin-top: 10px;
}

div #form #btn:hover {
  transition: 0.55s ease;
  cursor: pointer;
  background-color: blueviolet;
  transform: scale(1.1);
  color: whitesmoke;
}
